<!DOCTYPE HTML5>
<html>
  <head>
    <title>Maestro</title>
    <!-- the order in which these scripts are loaded is significant! -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jplayer.blue.monday.css" />

    <script src="{{ STATIC_URL }}script/jquery.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}script/jquery.cookie.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}script/jquery.jplayer.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}script/sync.js" type="text/javascript"></script>
    <!-- <script src="{{ STATIC_URL }}script/audio.js" type="text/javascript"></script> -->
    <!-- <script src="{{ STATIC_URL }}script/maudio.js" type="text/javascript"></script> -->
  </head>
  <body>
    <div id="header">
      <h2>Maestro</h2>
    </div>
    <div id="content">
      <p>
	Welcome to Meastro, we really hope you enjoy your session!
      </p>
      <div id="music">
	<form id="controls" action="." method="POST">
	  {% csrf_token %}
	  <ul>
	    <li><button id="playbutton">Play</button></li>
	    <li><button id="resetbutton">Reset</button></li>
	  </ul>
	</form>
	<div id="status_text"></div>
	<div id="player">
	  <!-- <audio src="{{ STATIC_URL }}audio/music.mp3"
	  preload="auto"></audio> -->

	  <!-- jplayer.org version of the player -->
	  <!-- we need one player per track of the song -->
	  <div id="jquery_jplayer_1" class="jp-jplayer"></div>
	  <div id="jquery_jplayer_2" class="jp-jplayer"></div>
	  <div id="jquery_jplayer_3" class="jp-jplayer"></div>
	  <div id="jquery_jplayer_4" class="jp-jplayer"></div>
	  <div id="jquery_jplayer_5" class="jp-jplayer"></div>
	  <!-- end of jplayer player -->

	</div>
      </div>
    </div>
  </body>
</html>
