{% extends "base.html" %}
{% block scripts %}
<script src="{{ STATIC_URL }}/script/index.js" type="text/javascript"></script>
{% endblock %}  
{% block content %}
  <!-- messages -->  
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <!-- session get/create form -->  
  <form action="{% url session_new %}" method="POST" id="sessions_form">
    {% csrf_token %}
    {{ form }}
    <input type="hidden" id="action_type" value="create" />
    <input type="button" value="Create" id="button_create" />
    <input type="button" value="Join" id="button_join" />
  </form>    
{% if user_list %}
	<ul>
		{% for song in user_list %}
		<li> {{song}}</li>
		{% endfor %}
	</ul>
{% endif %}
{% endblock %}  
