{% extends "base.html" %}
{% block scripts %}
  <script src="{{ STATIC_URL }}script/sync.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}script/player-elements.js" type="text/javascript"></script>  
{% endblock %}
{% block content %}
  <h2>{{ session_title }}</h2>

  <!-- user selects a song -->
  <div id="song_select">
    {% if user_list %}
      <select name = "song_list" id="song_select_list">
	<option name="title" value="Pick a song, any song...">Pick a song, any song...</option>
	{% for song in user_list %}
	  <option name="{{song}}" value="{{song}}"> {{song}}</option>
	{% endfor %}
      </select>
    {% endif %}
  </div>

  <!-- jplayers & controls -->
  <div id="music">
    <!-- controls for playback -->
    <div id="controls">
      <div id="mainplayer">
	<!-- #playpause will also hold play/pause buttons -->
	<div id="playpause">Select a Song</div>
	<div id="time">
	  <img src="{{ STATIC_URL }}img/time_icon_med.png" class="time_icon" alt="time" />
	  <div id="timecontrol"></div>
	</div>
	<div id="volume">
	  <img src="{{ STATIC_URL }}img/vol_icon_med.png" class="vol_icon" alt="volume" />
	  <div id="volcontrol"></div></div>
      </div>
      <form id="playpause" action="." method="POST">
	{% csrf_token %}
	<ul>
	  <li><button id="playbutton">Play</button></li>
	  <li><button id="resetbutton">Stop</button></li>
	</ul>
      </form>
      <div id="instrument_select">
	<!-- javascript will insert instruments here -->
	<ul id="instrument_select_list">
	</ul>
      </div>
    </div>

    <div id="status_text"></div>

    <!-- the jplayers -->
    <div id="player">
    </div>

  </div><!-- closes #music -->

  <form method="POST" action="{% url session_end %}">
    {% csrf_token %}    
    <input type="submit" value="end session" />
  </form>    
{% endblock %}  
