body {
    background-color:#262429;
    font-family:'Lato', sans-serif;
    color:white;
}

#playpause ul {
    list-style-type:none;
    margin:0px;
    padding:0px;
}

#playpause li {
    display:inline;
}

/*** INSTRUMENT SELECTION ***/
#instrument_select_list {
    list-style-type:none;
}

#instrument_select_list li {
    padding:20px;
    width:200px;
    text-align:center;
    background-color: lightgray;
}

#instrument_select_list .selected {
    background-color: orange;
}

#mainplayer {
    background-color:#171619;
    font-size:24pt;
    width:300px;
    height:175px;
}

.playpause_button {
    width:40px;
    height:40px;
    margin-left:auto;
    margin-right:auto;
}