body {
    background-color:#262429;
    font-family:'Lato', sans-serif;
    color:white;
    margin-top:0px;
    margin-left:15px;
}

#content {
    margin:0px;
    padding:0px;
}

#session_controls {
    float:left;
    width:300px;
    vertical-align:top;
    padding:0px;
    margin:0px;
    display:inline;
}

#playpause {
    text-align:center;
}

#playpause ul {
    list-style-type:none;
    margin:0px;
    padding:0px;
}

#playpause li {
    display:inline;
}

#instrument_select_list {
    list-style-type:none;
    margin-left:auto;
    margin-right:auto;
    width:400px;
    padding:0px;
}

#instrument_select li {
    width:100%;
    height:82px;
    text-align:center;
    margin:0px;
}

#instrument_select {
    margin-top:32px;
}

#instrument_select .inst_listing {
    width:100%;
    height:100%;
    vertical-align:center;
    padding-top:28px;
}

.selected a {
    color:white !important;
}

#instrument_select a {
    text-decoration:none;
    width:100%;
    height:100%;
    color:80788c;
    font-weight:bold;
    font-family: "Helvetica", sans-serif;
    font-size:16pt;
}


#mainplayer {
    background-color:#171619;
    font-size:24pt;
    width:400px;
    height:150px;
    margin-top:32px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;
    padding-top:28px;
    padding-bottom:0px;
    border-radius:10px;
    -moz-border-radius:10px;
}

.playpause_button {
    width:40px;
    height:40px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

#volcontrol, #timecontrol {
    margin-top:25px;
    margin-left:57px;
    width:320px;
}

#volume, #time {
    margin-left:auto;
    margin-right:auto;
}

.time_icon, .vol_icon {
    width:16px;
    height:16px;
    border-style:none;
    margin-left:10px;
    float:left;
}

#player, .jp-audio {
    width:0px;
    height:0px;
    overflow:hidden;
}

.baton_img {
    width:245px;
    height:17px;
    display:block;
    position:absolute;
    top:90px;
    left:14px;
}

.track_title {
    font-size:18pt;
    font-weight:bold;
    position:absolute;
    left:14px;
    top:110px;
}

.session_name {
    position:absolute;
    left:14px;
    top:14px;
    font-size:48pt;
    vertical-align:top;
    margin-top:0px;
    padding-top:0px;
    margin-bottom:0px;
}

.artist_title {
    font-size:18pt;
    position:absolute;
    left:14px;
    top:140px;
}

#end_session_button {
    margin-top:10px;
    position:absolute;
    top:220px;
}

#song_select {
    position:absolute;
    left:14px;
    top:200px;
}

.inst_1  {
    background-color:#d54a61;
}

.inst_2  {
    background-color:#f8b950;
}

.inst_3  {
    background-color:#908f63;
}

.inst_4  {
    background-color:#71a1c9;
}

.inst_5  {
    background-color:#8873b1;
}

.deselected {
    background-color:white !important;
}